<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="far fa-calendar-alt"></i>
            <%= @event[:date] %>
        </h2>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>
        <% for registration in @registrations %>
            <% user = @users_table.where(:id => registration[:user_id]).to_a[0] %>
            <div class="media">
                <% if registration[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= user[:name] %></h5>
                    <%= registration[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <a href="/events/<%= @event[:id] %>/registrations/new" class="btn btn-primary">Register now!</a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @event[:date] %></p>
        <h3>Where?</h3>
        <p><%= @event[:location] %></p>
        <h3>How many guests so far?</h3>
        <p><%= @count %></p>
    </div>
</div>